html {
    position: relative;
    min-height: 100%;

}

body {
    margin-bottom: 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed;
}

.navbar-custom {
    background-color: #fff;

}

#logo {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: 70px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #4aaaa5;

}
#logo:hover {
    opacity: 0.7;

}
.description-header {
    margin-bottom: 33px;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
}
.description-content {
    padding: 30px;
    margin-top: 32px;
    background-color: #fff;
}
.description-content > p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: slategray;
}
.description-text {
    padding-bottom: 20px;
}
#descripton-image {
    float: left;
    width: 200px; 
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
}

#imageNav-area {
    width: 100%;
    padding: 30px 30px 43px;
    margin-top: 32px;
    background-color: #fff;

}
.imageNav-header {
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;

}

.imageNav-photo {
    width: 140px;
}

.imageNav-photo:hover {
    opacity: 0.6;

}

.imageNav-photo.active {
    border: 2px solid #4aaaa5;
}

#images {
    padding-top: 15px;
    text-align: center;

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    background-color: #666;
    color: #fff;

}
.text-muted-footer {
    margin-top: 15px;
    color: #fff;

}

.two-toned-footer-color {
    height: 6px;
    padding-top: 3px;
    background-color: #4aaaa5;

}

.comparison-header {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;
    
}

.comparison-image {
    width: 70%;

}